h1{border-width: 2px;border-color: red;border-style: solid;}
.highlight{color: red; background-color: aquamarine;}
#main-title{font-size: 18px; color: blue;}
img{border-color:#00ff37c2 ;
border-style: dotted;
border-width: 4px;}